//Abstracts
@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";

main {
  > div.fix-bg {
    @apply bg-cover bg-center relative overflow-hidden z-0 bg-blend-soft-light h-screen;
    background: variables.$bg-primary-color;
    background-image: url("/images/noice-img.webp");

    > div.main-content {
      @apply container w-full ml-auto mr-auto;
      padding-right: calc(1.5rem * .5);
      padding-left: calc(1.5rem * .5);
    }
  }
}