<section class="section container-fluid degradient-full py-5" id="skills">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="text-light-outline fw-bold fs-1 text-center">{{ "skills.title" | translate }}</h1>
        </div>
        <div class="card-body">
            <p class="text-center">
                <span class="fs-3 px-3">
                    {{ "skills.description" | translate }}
                </span>
            </p>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
                    <div class="d-flex flex-column fs-1" style="gap: 30px 0px;">
                        <div>
                            <i class="fa-brands fa-js" style="color:#F7DF1E;"></i>
                            <p>
                                <span class="fw-bold fs-6">JavaScript</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-php" style="color:#777BB4;"></i>
                            <p>
                                <span class="fw-bold fs-6">PHP</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-python" style="color:#3776AB;"></i>
                            <p>
                                <span class="fw-bold fs-6">Python</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-python" style="color:#0769AD;"></i>
                            <p>
                                <span class="fw-bold fs-6">JQuery</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-bootstrap" style="color:#7952B3"></i>
                            <p>
                                <span class="fw-bold fs-6">Bootstrap</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
                    <div class="d-flex flex-column fs-1" style="gap: 30px 0px;">
                        <div>
                            <img src="assets/icons/brands/kivy.svg" alt="Kivy" width="35px" height="35px">
                            <p>
                                <span class="fw-bold fs-6">Kivy</span>
                            </p>
                        </div>
                        <div>
                            <img src="assets/icons/brands/tkinter.svg" alt="Tkinter" width="35px" height="35px">
                            <p>
                                <span class="fw-bold fs-6">Tkinter</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-angular" style="color:#DD0031"></i>
                            <p>
                                <span class="fw-bold fs-6">Angular</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-react" style="color:#61DAFB"></i>
                            <p>
                                <span class="fw-bold fs-6">React</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
                    <div class="d-flex flex-column fs-1" style="gap: 30px 0px;">
                        <div>
                            <i class="fa-brands fa-node-js" style="color:#339933"></i>
                            <p>
                                <span class="fw-bold fs-6">Node.js</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-symfony" style="color:#000000"></i>
                            <p>
                                <span class="fw-bold fs-6">Symfony</span>
                            </p>
                        </div>
                        <div>
                            <i class="fa-brands fa-laravel" style="color:#FF2D20"></i>
                            <p>
                                <span class="fw-bold fs-6">Laravel</span>
                            </p>
                        </div>
                        <div>
                            <img src="assets/icons/brands/django.svg" width="35px" height="35px" alt="Django">
                            <p>
                                <span class="fw-bold fs-6">Django</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
                    <div class="d-flex flex-column fs-1" style="gap: 30px 0px;">
                        <div>
                            <img src="assets/icons/brands/kivymd.svg" width="35px" height="35px" alt="KivyMD">
                            <p>
                                <span class="fw-bold fs-6">KivyMD</span>
                            </p>
                        </div>
                        <div>
                            <img src="assets/icons/brands/mongodb.svg" width="35px" height="35px" alt="MongoDB">
                            <p>
                                <span class="fw-bold fs-6">MongoDB</span>
                            </p>
                        </div>
                        <div>
                            <img src="assets/icons/brands/mysql.svg" width="35px" height="35px" alt="MySQL">
                            <p>
                                <span class="fw-bold fs-6">MySQL</span>
                            </p>
                        </div>
                        <div>
                            <img src="assets/icons/brands/mariadb.svg" width="35px" height="35px" alt="MariaDB">
                            <p>
                                <span class="fw-bold fs-6">MariaDB</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer px-5">
            <p class="text-center">
                <span class="fs-5">
                    {{ 'skills.footer' | translate }}
                </span>
            </p>
        </div>
    </div>
</section>