<section class="section container-fluid degradient-full py-5" id="skills">
  <div class="card text-dark">
    <div class="card-header px-3">
      <h1 class="title fw-bold fs-1 text-center">{{ "skills.title" | translate }}</h1>
    </div>
    <div class="card-body">
      <p class="text-center">
                <span class="fs-3 px-3">
                    {{ "skills.description" | translate }}
                </span>
      </p>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
          <div class="d-flex flex-column fs-1" style="gap: 30px 0;">
            <div>
              <img src="assets/icons/brands/laravel.svg" alt="Laravel" class="laravel" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Laravel</span>
              </p>
            </div>
              <div>
                <img src="assets/icons/brands/ionic.svg" alt="Ionic" width="35px" height="35px">
                <p>
                  <span class="fw-bold fs-6">Ionic</span>
                </p>
              </div>
            <div>
              <img src="assets/icons/brands/tkinter.svg" alt="Tkinter" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Tkinter</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/mariadb.svg" width="35px" height="35px" alt="MariaDB">
              <p>
                <span class="fw-bold fs-6">MariaDB</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/node-js.svg" alt="Node.js" class="node-js" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Node.js</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
          <div class="d-flex flex-column fs-1" style="gap: 30px 0;">
            <div>
              <img src="assets/icons/brands/symfony.svg" alt="Symfony" class="symfony" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Symfony</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/angular.svg" alt="Angular" class="angular" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Angular</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/kivymd.svg" width="35px" height="35px" alt="KivyMD">
              <p>
                <span class="fw-bold fs-6">KivyMD</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/mongodb.svg" width="35px" height="35px" alt="MongoDB">
              <p>
                <span class="fw-bold fs-6">MongoDB</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/js.svg" class="js" alt="JavaScript" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">JavaScript</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
          <div class="d-flex flex-column fs-1" style="gap: 30px 0;">
            <div>
              <img src="assets/icons/brands/django.svg" width="35px" height="35px" alt="Django">
              <p>
                <span class="fw-bold fs-6">Django</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/vuejs.svg" width="35px" height="35px" alt="VueJS">
              <p>
                <span class="fw-bold fs-6">Vue.js</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/kivy.svg" alt="Kivy" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Kivy</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/jquery.svg" alt="JQuery" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">JQuery</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/php.svg" class="php" alt="PHP" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">PHP</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3 mb-sm-0 col-sm-3 text-center">
          <div class="d-flex flex-column fs-1" style="gap: 30px 0;">
            <div>
              <img src="assets/icons/brands/nestjs.svg" width="35px" height="35px" alt="NestJS">
              <p>
                <span class="fw-bold fs-6">NestJS</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/react.svg" alt="React" class="react" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">React</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/mysql.svg" width="35px" height="35px" alt="MySQL">
              <p>
                <span class="fw-bold fs-6">MySQL</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/bootstrap.svg" class="bootstrap" alt="Bootstrap" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Bootstrap</span>
              </p>
            </div>
            <div>
              <img src="assets/icons/brands/python.svg" class="python" alt="Python" width="35px" height="35px">
              <p>
                <span class="fw-bold fs-6">Python</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer px-5">
      <p class="text-center">
                <span class="fs-5">
                    {{ 'skills.footer' | translate }}
                </span>
      </p>
    </div>
  </div>
</section>
