<section class="section container-fluid py-5" id="services">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="text-light-outline text-center">SERVICIOS</h1>
        </div>
        <div class="card-body p-0" style="background-color: #e2e2e2;">
            <div class="d-flex p-5 flex-wrap justify-content-around align-items-stretch align-content-center" style="gap:30px;">
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-desktop align-middle"></i>
                    </div>
                    <h3 class="mt-3">Desarrollo Desktop</h3>
                    <p class="mt-3 fs-5">Experiencia en el desarrollo a la medida de aplicaciones de software, asegurando calidad y seguridad en todo momento.</p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-code align-middle"></i>
                    </div>
                    <h3 class="mt-3">Desarrollo FrontEnd</h3>
                    <p class="mt-3 fs-5">Conocimientos solidos en desarrollo frontend, lo que garantiza la solución optima de cada proyecto.</p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-database align-middle"></i>
                    </div>
                    <h3 class="mt-3">Desarrollo Backend</h3>
                    <p class="mt-3 fs-5">Amplios conocimientos de desarrollo de procedimientos almacenados, Web Services, Apis, bases de datos sql y nosql.</p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-mobile-screen align-middle"></i>
                    </div>
                    <h3 class="mt-3">Desarrollo de Aplicaciones Móviles</h3>
                    <p class="mt-3 fs-5">Cuando desarrollo aplicaciones de escritorio y de web, paralelamente les doy soporte para una aplicación móvil sea del S.O. Android o iOS.</p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-laptop-code align-middle"></i>
                    </div>
                    <h3 class="mt-3">Freelance</h3>
                    <p class="mt-3 fs-5">Actualmente trabajo de forma independiente, pero cuando tenga un trabajo de tiempo completo, puedo realizar proyectos en mis tiempos libres dependiendo de la complejidad de estos.</p>
                </div>
            </div>
        </div>
    </div>
</section>