<section class="section container-fluid py-5" id="services">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="title fw-bold fs-1 text-center">
                {{ 'services.title' | translate }}
            </h1>
        </div>
        <div class="card-body p-0" style="background-color: #e2e2e2;">
            <div class="d-flex p-5 flex-wrap justify-content-around align-items-stretch align-content-center" style="gap:30px;">
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-desktop align-middle"></i>
                    </div>
                    <p class="mt-3 fw-bold fs-5">
                        {{ 'services.desktop.title' | translate }}
                    </p>
                    <p class="mt-3 fs-5">
                        {{ 'services.desktop.description' | translate }}
                    </p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-code align-middle"></i>
                    </div>
                    <p class="mt-3 fw-bold fs-5">
                        {{ 'services.frontend.title' | translate }}
                    </p>
                    <p class="mt-3 fs-5">
                        {{ 'services.frontend.description' | translate }}
                    </p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-database align-middle"></i>
                    </div>
                    <p class="mt-3 fw-bold fs-5">
                        {{ 'services.backend.title' | translate }}
                    </p>
                    <p class="mt-3 fs-5">
                        {{ 'services.backend.description' | translate }}
                    </p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-mobile-screen align-middle"></i>
                    </div>
                    <p class="mt-3 fw-bold fs-5">
                        {{ 'services.mobile_apps.title' | translate }}
                    </p>
                    <p class="mt-3 fs-5">
                        {{ 'services.mobile_apps.description' | translate }}
                    </p>
                </div>
                <div class="flex-grow-1 p-5 text-center bg-light" style="flex-basis: 30%;">
                    <div class="text-center bg-secondary text-light btn btn-default btn-circle btn-xl fs-2" style="cursor:auto;">
                        <i class="fa-solid fa-laptop-code align-middle"></i>
                    </div>
                    <p class="mt-3 fw-bold fs-5">
                        {{ 'services.freenlance.title' | translate }}
                    </p>
                    <p class="mt-3 fs-5">
                        {{ 'services.freenlance.description' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>