//Abstracts
@use "../../../abstracts/functions";
@use "../../../abstracts/mixins";
@use "../../../abstracts/variables";
@import "../../../abstracts/extends";
@import "./media-query/home";

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-home {
  @apply overflow-hidden;
  padding-top: 80px;
  padding-bottom: 140px;

  > .section-one {
    @apply flex flex-wrap row;
    > .home-resume {
      @apply col-xxl-6 col-lg-6;
      > h2 {
        @apply zoom-in text-8xl font-bold mr-0.5 flex flex-wrap gap-x-3 justify-center;
        @include mixins.applyTheme {
          color: functions.themed(mixins.$theme-map, "base-color");
        }
        line-height: 120px;

        > span {
          @apply font-normal w-auto;
        }
      }

      > h3 {
        @apply font-medium py-5 px-0;
        font-size: 24px;
        line-height: 36px;
        @include mixins.applyTheme {
          color: functions.themed(mixins.$theme-map, "fourth-color");
        }
      }

      p {
        @apply fade-down font-medium;
        font-size: 20px;
        line-height: 30px;
        max-width: 390px;
        @include mixins.applyTheme {
          color: functions.themed(mixins.$theme-map, "third-color");
        }
      }

      > div {
        @apply fade-down flex items-center gap-4 mt-10;
      }
    }

    > .home-profile {
      @apply relative col-xxl-6 col-lg-6;
      .flower {
        @apply absolute;
        top: 113px;
        left: 66px;
        filter: brightness(0) saturate(100%) invert(50%) sepia(73%) saturate(413%) hue-rotate(323deg) brightness(103%) contrast(101%);
        animation: rotation infinite 9s linear;
      }

      .profile-img {
        @apply zoom-in max-w-full;
        padding-top: 60px;
      }
    }
  }
}
