<section class="section container-fluid py-5" id="contact-me">
    <div class="row">
        <div class="mb-5 mb-lg-0 col-md-12 col-lg-6">
            <p>
                <span class="fw-bold fs-5">
                    {{ 'contact_me.send_email.title' | translate }}
                </span>
            </p>
            <form (submit)="sendEmail($event)">
                <div class="mb-3 fs-6">
                    <label for="email" class="form-label fw-bold">
                        {{ 'contact_me.send_email.email' | translate }}
                    </label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="issuer_email"
                        required pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,4}$">
                    <div id="emailHelp" class="form-text fw-bold">
                        {{ 'contact_me.send_email.email_help' | translate }}
                    </div>
                </div>
                <div class="mb-3 fs-6">
                    <label for="issuer_name" class="form-label fw-bold">
                        {{ 'contact_me.send_email.issuer_name' | translate }}
                    </label>
                    <input type="text" class="form-control" id="issuer_name" name="issuer_name" required pattern="[A-zÀ-ÿ ñ]+">
                </div>
                <div class="mb-3 fs-6">
                    <label for="subject" class="form-label fw-bold">
                        {{ 'contact_me.send_email.subject' | translate }}
                    </label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label fw-bold">
                        {{ 'contact_me.send_email.message' | translate }}
                    </label>
                    <textarea class="form-control" id="message" rows="5" name="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-success w-100">
                    {{ 'contact_me.send_email.send' | translate }}
                </button>
            </form>
        </div>
        <div class="col-md-12 col-lg-6">
            <p>
                <span class="fw-bold fs-5">
                    {{ 'contact_me.social_networks.title' | translate }}
                </span>
            </p>
            <div class="list-group">
                <a href="https://www.linkedin.com/in/juansdev" target="_blank"
                    rel="noopener noreferrer"
                    class="ps-4 py-3 list-group-item list-group-item-action list-group-item-primary fw-bold fs-5">
                    <i class="fa-brands fa-linkedin fs-3 me-3"></i> LinkedIn
                </a>
                <a href="https://github.com/juansdev" target="_blank" rel="noopener noreferrer"
                    class="ps-4 py-3 list-group-item list-group-item-action list-group-item-dark fw-bold fs-5">
                    <i class="fa-brands fa-github fs-3 me-3"></i> GitHub
                </a>
            </div>
            <video playsinline autoplay muted loop class="video img-thumbnail"
                src="assets/video/contact_me/programmer.mp4"></video>
        </div>
    </div>
</section>