<section class="section container-fluid py-5" id="contact-me">
    <div class="row">
        <div class="col">
            <h3>Enviame un correo electrónico</h3>
            <form method="post">
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text fw-bold">Nosotros nunca compartiremos tu correo electrónico con alguien más.</div>
                </div>
                <div class="mb-3">
                    <label for="issuer_name" class="form-label fw-bold">Nombre del emisor</label>
                    <input type="text" class="form-control" id="issuer_name" name="issuer_name">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label fw-bold">Asunto</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="mb-3">
                  <textarea class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-success w-100">Enviar</button>
            </form>
        </div>
        <div class="col">
            <h3>Mis redes sociales</h3>
            <div class="list-group">
                <a href="http://" target="_blank" rel="noopener noreferrer" class="ps-4 py-3 list-group-item list-group-item-action list-group-item-primary">
                    <i class="fa-brands fa-facebook fs-3 align-middle"></i> <span class="fw-bold fs-5 ms-3 align-middle">Facebook</span>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer" class="ps-4 py-3 list-group-item list-group-item-action list-group-item-info">
                    <i class="fa-brands fa-twitter fs-3 align-middle"></i> <span class="fw-bold fs-5 ms-3 align-middle">Twitter</span>
                </a>
                <a href="https://www.linkedin.com/in/juan-guillermo-serrano-ram%C3%ADrez-061217181" target="_blank" rel="noopener noreferrer" class="ps-4 py-3 list-group-item list-group-item-action list-group-item-primary">
                    <i class="fa-brands fa-linkedin fs-3 align-middle"></i> <span class="fw-bold fs-5 ms-3 align-middle">LinkedIn</span>
                </a>
                <a href="https://github.com/juansdev" target="_blank" rel="noopener noreferrer" class="ps-4 py-3 list-group-item list-group-item-action list-group-item-dark">
                    <i class="fa-brands fa-github fs-3 align-middle"></i> <span class="fw-bold fs-5 ms-3 align-middle">GitHub</span>
                </a>
              </div>
              <img class="img-thumbnail" src="assets/img/services/programmer.gif" alt="Programador animado" srcset="">
        </div>
    </div>
</section>