<div id="circle-nav-toggle" class="circle-nav-toggle d-none">
    <i class="fa-solid fa-plus"></i>
</div>
<nav id="circle-nav-wrapper" class="circle-nav-wrapper d-none">
    <div class="circle-nav-panel"></div>
    <ul class="circle-nav-menu">
        <a href="#about-me" class="circle-nav-item circle-nav-item-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Acerca de mi">
            <i class="icons fa-solid fa-user"></i>
        </a>
        <a href="#skills" class="circle-nav-item circle-nav-item-2" data-bs-toggle="tooltip" data-bs-placement="left" title="Mis habilidades">
            <i class="icons fa-solid fa-screwdriver-wrench"></i>
        </a>
        <a href="#summary" class="circle-nav-item circle-nav-item-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Resumen">
            <i class="icons fa-solid fa-note-sticky"></i>
        </a>
        <a href="#portfolio" class="circle-nav-item circle-nav-item-4" data-bs-toggle="tooltip" data-bs-placement="left" title="Mi portafolio">
            <i class="icons fa-solid fa-suitcase"></i>
        </a>
        <a href="#services" class="circle-nav-item circle-nav-item-5" data-bs-toggle="tooltip" data-bs-placement="left" title="Mis servicios">
            <i class="icons fa-solid fa-server"></i>
        </a>
    </ul>
</nav>