@use "../themes/light-theme";

// Base
$font-sans-serif: Helvetica, sans-serif;
$font-dm-sans: var(--font-dm-sans), sans-serif;
$font-size: 1rem;
$font-style: normal;
$font-weight: 400;
$line-height: 1.5;

// Margin
$gutter-y: 0px;
$gutter-x: 1.5rem;

// Theme
$themes: (
        light: light-theme.$light-theme
);

// Media Queries

$screen-sizes: (
        xs: 0px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$media-query-min-width-501: "min-width: 501px";
$media-query-min-width-576: "min-width: 576px";
$media-query-min-width-768: "min-width: 768px";
$media-query-min-width-992: "min-width: 992px";
$media-query-min-width-1200: "min-width: 1200px";
$media-query-min-width-1300: "min-width: 1300px";
$media-query-min-width-1400: "min-width: 1400px";
$media-query-min-width-1650: "min-width: 1650px";

$media-query-max-width-500: "max-width: 500px";
$media-query-max-width-575: "max-width: 575px";
$media-query-max-width-767: "max-width: 767px";
$media-query-max-width-991: "max-width: 991px";
$media-query-max-width-1199: "max-width: 1199px";
$media-query-max-width-1299: "max-width: 1299px";
$media-query-max-width-1399: "max-width: 1399px";
$media-query-max-width-1599: "max-width: 1599px";
$media-query-max-width-1649: "max-width: 1649px";
