<section class="container-fluid background-image-full" id="home">
    <img src="assets/img/presentation/coder_animate.webp" class="position-absolute coder_animate" alt="Programador animado"
        srcset="">
    <div class="row pt-3 px-4">
        <div class="col-8" style="margin-left: 4%;">
            <h1 class="text-light-outline">MI PORTAFOLIO WEB</h1>
        </div>
        <div class="col text-start fw-bold">
            <div>Hora local: {{current_time}}</div>
            <div>Tiempo transcurrido en mi portafolio: {{timer}}</div>
        </div>
    </div>
    <div class="row pt-5 px-3 mt-4">
        <div class="col h-100" style="margin-left: 13%;">
            <h1>Hola. Yo soy Juan Guillermo</h1>
            <h2 class="default-color">Desarrollador Web / Desarrollador de Software</h2>
            <div class="mt-4">
                <a href="#briefcase" class="btn btn-lg default-background-color text-light fw-bold border border-3 border-black ">
                    Ver mi trabajo
                </a>
            </div>
            <div class="mt-5">
                <a href="http://" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3">
                    <i class="fa-brands fa-facebook align-middle"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3">
                    <i class="fa-brands fa-twitter align-middle"></i>
                </a>
                <a href="https://www.linkedin.com/in/juan-guillermo-serrano-ram%C3%ADrez-061217181" target="_blank"
                    rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3">
                    <i class="fa-brands fa-linkedin align-middle"></i>
                </a>
                <a href="https://github.com/juansdev" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3">
                    <i class="fa-brands fa-github align-middle"></i>
                </a>
            </div>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-default btn-circle btn-xl degradient-black-white border border-black border-3 me-3">
            </button>
            <button type="button" class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3">
                <i class="fa-solid fa-language"></i>
            </button>
        </div>
    </div>
</section>