<section class="container-fluid background-image-full" id="home">
    <div class="row pt-3 px-4">
        <div class="col-12 col-md-8 text-center text-md-start title">
            <p class="text-light-outline fw-bold fs-1">
                {{ 'presentation.title' | translate }}
            </p>
        </div>
        <div class="col-12 col-md text-start fw-bold">
            <p>
                <span class="fs-6">{{ 'presentation.local_time' | translate }}: {{current_time}}</span>
            </p>
            <p>
                <span class="fs-6">{{ 'presentation.timer' | translate }}: {{timer}}</span>
            </p>
        </div>
    </div>
    <div class="row pt-3 pt-lg-5 px-3 mt-lg-4">
        <div class="col-12 col-md h-100" style="padding-left: 13%;">
            <h1 class="fw-bold">{{ 'presentation.title_description' | translate }}</h1>
            <h2 class="default-color fw-bold">{{ 'presentation.description' | translate }}</h2>
            <div class="mt-4">
                <a href="#portfolio" class="btn btn-lg default-background-color text-light fw-bold border border-3 border-black ">
                    {{ 'presentation.show_my_job' | translate }}
                </a>
            </div>
            <div class="mt-5 d-flex flex-wrap align-items-center" style="gap: 15px 0px;">
                <a href="https://www.facebook.com/juansdev72" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com/JuanSDev72" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/juan-guillermo-serrano-ram%C3%ADrez-061217181" target="_blank"
                    rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 me-3 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/juansdev" target="_blank" rel="noopener noreferrer"
                    class="text-center bg-dark text-light btn btn-default btn-circle btn-xl fs-2 border border-black border-3 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md mt-3 mt-md-0 text-start text-md-end presentation-button">
            <div (click)="changeSiteLanguage()" class="icon-translate position-relative">
                <div class="position-absolute text-center top-50 w-100">
                    <p class="rounded" style="background-color: rgba(0,0,0,.7);">
                        <span class="text-light fw-bold">{{ 'presentation.change_language' | translate }}</span>
                    </p>
                </div>
            </div>
            <video playsinline autoplay muted loop src="assets/video/presentation/coder_animate.mp4" class="video w-50 rounded me-auto d-md-block d-none"></video>
        </div>
    </div>
</section>
<div (click)="changeSiteLanguage()" class="position-absolute bottom-0 end-0 float-icon-translate position-fixed m-3">
    <div class="position-absolute text-center top-50 w-100">
    </div>
</div>