.background-image-full {
  background-image: url('../../../../assets/img/presentation/presentacion_fondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.degradient-black-white {
    background: -webkit-linear-gradient(left, #000000 50%, #ffffff 50%);
    background: -o-linear-gradient(left, #000000 50%, #ffffff 50%);
    background: -moz-linear-gradient(left, #000000 50%, #ffffff 50%);
    background: linear-gradient(to left, #000000 50%, #ffffff 50%);
}

@media (min-width: 768px) {
  .title {
    margin-left: 4%;
  }
}

@media (max-width: 767.9px) {
  .presentation-button {
    padding-left: 13%;
  }
}

.icon-translate{
  position: relative;
  display: inline-block;
  background-image: url('../../../../assets/icons/brands/translate.svg'); 
  width: 15vh; 
  height: 15vh; 
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

.float-icon-translate {
  background-image: url('../../../../assets/icons/brands/translate.svg'); 
  width: 5vh; 
  height: 5vh; 
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}