@use "../abstracts/mixins";
@use "../abstracts/functions";
@use "../abstracts/variables";

.col-xxl-6 {
  @media #{functions.screen(xxl)}{
    @apply w-1/2;
    flex: 0 0 auto;
  }
}

.col-lg-6 {
  @media #{functions.screen(lg)}{
    @apply w-1/2;
    flex: 0 0 auto;
  }
}

// Scroll
@media (variables.$media-query-max-width-767) {
  ::-webkit-scrollbar {
    @apply w-0;
  }
}

.section-heading-text {
  @media(variables.$media-query-max-width-500) {
    font-size: 33px !important;
    line-height: 40px !important;
  }
  @media(variables.$media-query-min-width-501) and (variables.$media-query-max-width-767) {
    font-size: 38px !important;
    line-height: 40px !important;
  }
  @media(variables.$media-query-min-width-768) and (variables.$media-query-max-width-991) {
    font-size: 42px !important;
    line-height: 50px !important;
  }
}