<section class="section container-fluid degradient-full py-5" id="briefcase">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="text-light-outline text-center">MI PORTAFOLIO</h1>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="btn-lg nav-link border border-end-0 border-dark text-dark rounded-0 active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button"
                        role="tab" aria-controls="all" aria-selected="true">TODO</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="btn-lg nav-link text-dark border border-end-0 border-dark rounded-0" id="desktop-tab" data-bs-toggle="tab" data-bs-target="#desktop" type="button" role="tab" aria-controls="desktop" aria-selected="false">DESKTOP</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="btn-lg nav-link text-dark border border-end-0 border-dark rounded-0" id="web-tab" data-bs-toggle="tab" data-bs-target="#web" type="button" role="tab" aria-controls="web" aria-selected="false">WEB</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="btn-lg nav-link text-dark border-dark rounded-0" id="app-tab" data-bs-toggle="tab" data-bs-target="#app" type="button"
                        role="tab" aria-controls="app" aria-selected="false">APP</button>
                </li>
            </ul>
            <div class="tab-content border border-dark">
                <div class="tab-pane fade show active bg-dark" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="p-3 d-flex flex-wrap justify-content-around align-items-center align-content-center" style="gap:30px;">
                        <a *ngFor="let image of path_images['all'] | keyvalue" href="{{image.value}}" target="_blank" rel="noopener noreferrer" class="flex-grow-1" style="flex-basis: 40%;">
                            <img class="img-thumbnail" src="{{image.key}}" alt="{{image['key'].replace('.png','')}}" srcset="">
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade bg-dark" id="desktop" role="tabpanel" aria-labelledby="desktop-tab">
                    <div class="p-3 d-flex flex-wrap justify-content-around align-items-center align-content-center" style="gap:30px;">
                        <a *ngFor="let image of path_images['desktop'] | keyvalue" href="{{image.value}}" target="_blank" rel="noopener noreferrer" class="flex-grow-1" style="flex-basis: 40%;">
                            <img class="img-thumbnail" src="{{image.key}}" alt="{{image['key'].replace('.png','')}}" srcset="">
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade bg-dark" id="web" role="tabpanel" aria-labelledby="web-tab">
                    <div class="p-3 d-flex flex-wrap justify-content-around align-items-center align-content-center" style="gap:30px;">
                        <a *ngFor="let image of path_images['web'] | keyvalue" href="{{image.value}}" target="_blank" rel="noopener noreferrer" class="flex-grow-1" style="flex-basis: 40%;">
                            <img class="img-thumbnail" src="{{image.key}}" alt="{{image['key'].replace('.png','')}}" srcset="">
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade bg-dark" id="app" role="tabpanel" aria-labelledby="app-tab">
                    <div class="p-3 d-flex flex-wrap justify-content-around align-items-center align-content-center" style="gap:30px;">
                        <a *ngFor="let image of path_images['app'] | keyvalue" href="{{image.value}}" target="_blank" rel="noopener noreferrer" class="flex-grow-1" style="flex-basis: 40%;">
                            <img class="img-thumbnail" src="{{image.key}}" alt="{{image['key'].replace('.png','')}}" srcset="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>