<!-- Loading FullScreen -->
<app-loading></app-loading>
<!-- Fixed -->
<app-radial-menu></app-radial-menu>
<app-mini-player-footer></app-mini-player-footer>
<!-- Static -->
<app-header></app-header>
<app-presentation (language_selected)="onLanguageSelected($event)"></app-presentation>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-summary [language_selected]="language_selected"></app-summary>
<app-portfolio></app-portfolio>
<app-services></app-services>
<app-contact-me></app-contact-me>
<app-footer></app-footer>