@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
* {
  @apply m-0 p-0 box-border scroll-smooth;
  font-family: var(--font-dm-sans), sans-serif;
  font-style: normal;
}

body {
  @apply m-0 scroll-smooth;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-clip-content;
  background: #00CC97;
}

::-webkit-scrollbar-track {
  background-color: #0F141C;
}

.dropdown_menu {
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
}

.checkbox-toggle:checked:hover + .hamburger {
  @apply shadow;
}
.checkbox-toggle:checked:hover + .hamburger div {
  transform: rotate(225deg);
}
.checkbox-toggle:checked:hover + .hamburger div:before {
  @apply top-0 rotate-90;
}
.checkbox-toggle:checked:hover + .hamburger div:after {
  @apply opacity-0 top-0 rotate-90;
}

ul.menu {
  @apply flex items-center gap-12;
}
ul.menu li {
  font-family: var(--font-dm-sans), sans-serif;
  @apply text-white text-lg font-medium;
}
ul.menu li:hover {
  @apply text-red-400 text-lg font-medium;
}
ul.menu li.menu-active {
  @apply text-red-400 text-lg font-medium !important;
}
ul.menu li.dropdown:hover {
  @apply text-red-400 text-lg font-medium cursor-pointer;
}
ul.menu li.dropdown:hover > ul {
  @apply block;
}
ul.menu li.dropdown:hover > ul > li {
  @apply block;
}
ul.menu li.dropdown:hover > ul li:hover {
  @apply bg-amber-200;
}
ul.menu li.dropdown:hover > ul li:hover > a {
  color: #0F141C;
}
ul.menu li.dropdown:hover > ul li:hover > ul {
  @apply block;
}
ul.menu li.dropdown:hover > ul li:hover > ul > li {
  @apply block;
}
ul.menu li.dropdown {
  @apply text-white text-lg font-medium flex justify-center items-center relative z-10 gap-1.5;
}
ul.menu li.dropdown > ul {
  @apply hidden dropdown_menu origin-center absolute top-full -left-14 w-52 -z-10;
}
ul.menu li.dropdown > ul li {
  @apply hidden opacity-100 bg-gray-700 py-3 px-5;
}
ul.menu li.dropdown > ul li > ul._1 {
  @apply w-full absolute -right-52 top-0 hidden;
}
ul.menu li.dropdown > ul li > ul._2 {
  @apply w-full absolute -right-52 top-12 hidden;
}

header {
  @apply border-b border-gray-400;
}
header nav {
  @apply py-3 px-28;
}
header nav div {
  @apply flex flex-row flex-nowrap justify-end items-center;
}
header nav div h1 {
  @apply text-2xl font-bold text-gray-700;
}
header nav div div {
  @apply flex items-center gap-6;
}

.show {
  @apply opacity-100 !important;
  transform: translateY(0) scale(1) !important;
}

.sidebar {
  @apply max-w-64 w-full h-screen flex flex-col justify-between fixed overflow-auto gap-0;
  background-color: #171B22;
}
.sidebar::-webkit-scrollbar {
  @apply hidden;
}
.sidebar > .profile-img-main {
  @apply text-center pl-5 pr-5 pt-5;
}
.sidebar > .profile-img-main > img {
  @apply max-w-full;
  transform: scale(0.5);
  transition: all 1.5s;
}
.sidebar > .profile-img-main > h1 {
  @apply opacity-0 text-center text-white text-3xl font-bold pt-3.5 pr-0 pb-1 pl-0;
  transition: all 1.5s;
}
.sidebar > .profile-img-main > h1 > span {
  @apply font-normal ml-2;
}
.sidebar > .profile-img-main > h2 {
  @apply text-center font-medium -translate-y-full opacity-0;
  transition: all 1.5s;
  color: #909090;
}
.sidebar > .profile-img-main > div {
  @apply -translate-y-full opacity-0 flex items-center justify-center mx-0 my-5 gap-2.5;
  transition: all 1.5s;
}
.sidebar > .profile-img-main > div > a {
  @apply w-10 h-10 flex items-center justify-center;
  transition: all 1.5s;
  border-radius: 50%;
  background-color: #0F141C;
}
.sidebar > .profile-img-main > div > a:hover {
  background: #0059bd;
}
.sidebar > .profile-img-main > div > a > img {
  @apply max-w-full;
}
.sidebar > .menu-list-main > ul > li {
  @apply px-5 py-2.5 border-t-2 border-solid;
  border-top-color: rgba(255, 255, 255, 0.2196078431);
}
.sidebar > .menu-list-main > ul > li > a {
  @apply flex gap-2.5 items-center opacity-0 -translate-x-28;
  transition: all 1.5s;
  color: #909090;
}
.sidebar > .menu-list-main > ul > li > a.active {
  filter: brightness(0) saturate(100%) invert(55%) sepia(64%) saturate(887%) hue-rotate(120deg) brightness(94%) contrast(101%);
}
.sidebar > .menu-list-main > ul > li > a:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(64%) saturate(887%) hue-rotate(120deg) brightness(94%) contrast(101%);
}
.sidebar > .menu-list-main > ul > li > a img {
  @apply text-white;
}
.sidebar > div > div.wrap {
  @apply m-5 text-center;
}
.sidebar > div > div.wrap > a {
  @apply relative inline-block h-14 w-full p-0 rounded-3xl;
  background-color: #0F141C;
  transition: 0.5s;
}
.sidebar > div > div.wrap > a:hover {
  background-color: #0059bd;
  color: rgb(10, 88, 202);
}
.sidebar > div > div.wrap > a:hover > span.title {
  @apply left-10 opacity-0;
}
.sidebar > div > div.wrap > a:hover > span.title-hover {
  @apply opacity-100 left-10;
}
.sidebar > div > div.wrap > a:hover > span.circle {
  @apply left-full -ml-14;
  background-color: #fdfdfd !important;
}
.sidebar > div > div.wrap > a:hover > span.circle > svg > path {
  fill: #0059bd;
}
.sidebar > div > div.wrap > a > span.circle {
  @apply absolute m-1.5 h-12 w-12 left-0 flex items-center justify-center;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #0059bd;
}
.sidebar > div > div.wrap > a > span.title {
  @apply left-20 absolute top-4 text-center m-0 text-white;
  transition: 0.5s;
}
.sidebar > div > div.wrap > a > span.title-hover {
  @apply left-20 opacity-0 absolute top-4 text-center m-0 text-white;
  transition: 0.5s;
}

main > div.fix-bg {
  @apply bg-cover bg-center relative overflow-hidden z-0 bg-blend-soft-light h-screen;
  background: #0F141C;
  background-image: url("/images/noice-img.webp");
}
main > div.fix-bg > div.main-content {
  @apply container w-full ml-auto mr-auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
