<section class="section container-fluid degradient-full py-5" id="resume">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="text-light-outline text-center">RESUMEN</h1>
        </div>
        <div class="card-body">
            <p class="text-center fs-3 px-3">
                Como profesionista puedo aportar un enfoque de calidad y eficacia en el área de sistemas de información, diseño, desarrollo de software y base de datos.
            </p>
            <div class="border border-dark border-5">
                <embed src="assets/docs/cv.pdf" class="w-100" height="500" type="application/pdf">
            </div>
        </div>
    </div>
</section>