<section class="section container-fluid degradient-full py-5" id="resume">
    <div class="card text-dark">
        <div class="card-header px-3">
            <h1 class="text-light-outline fw-bold fs-1 text-center">
                {{ 'resume.title' | translate }}
            </h1>
        </div>
        <div class="card-body">
            <p class="text-center fs-3 px-3">
                {{ 'resume.description' | translate }}
            </p>
            <div class="border border-dark border-5 p-0" style="margin-top: 1rem;">
                <embed class="d-none d-sm-block" src="assets/docs/cv.pdf" width="100%" height="500px" type="application/pdf">
                <a class="d-block d-sm-none btn btn-success btn-lg rounded-0 border-0" href="assets/docs/cv.pdf" download="CV_JuanSDev">Descargar CV</a>
            </div>
        </div>
    </div>
</section>