//Abstracts
@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";
@import "../abstracts/extends";
@import "./media-query/sidebar";

.sidebar {
  @apply w-full h-screen flex flex-col justify-between fixed overflow-auto;
  max-width: 250px;
  @include mixins.applyTheme {
    background-color: functions.themed(mixins.$theme-map, "bg-primary-color")
  }

  &::-webkit-scrollbar {
    @apply hidden;
  }

  > .profile-img-main {
    @apply text-center pl-5 pr-5 pt-5;
    > img {
      @apply max-w-full zoom-in;
    }

    > h1 {
      @apply fade-up text-center text-3xl font-bold pt-3.5 pr-0 pb-1 pl-0;

      > span {
        @apply font-normal ml-2;
      }
    }

    > h2 {
      @apply text-center font-medium fade-up;
      @include mixins.applyTheme {
        color: functions.themed(mixins.$theme-map, "third-color")
      }
    }

    > div {
      @apply flex items-center justify-center mx-0 my-5 gap-2.5 fade-up;

      > a {
        @apply w-10 h-10 flex items-center justify-center;
        border-radius: 50%;
        @include mixins.applyTheme {
          background-color: functions.themed(mixins.$theme-map, "secondary-color")
        }

        &:hover {
          @include mixins.applyTheme {
            background: functions.themed(mixins.$theme-map, "fourth-color")
          }
        }

        > img {
          @apply max-w-full;
        }
      }
    }
  }
}