<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-5 fw-bold" href="#home">
                <i class="fa-solid fa-code me-3"></i>JuanSDev
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                [attr.aria-label]="'navbar.aria_label' | translate">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">
                            <i class="fa-solid fa-house align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.home" | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-me">
                            <i class="fa-solid fa-user align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.about_me" | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">
                            <i class="fa-solid fa-screwdriver-wrench align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.skills" | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">
                            <i class="fa-solid fa-suitcase align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.portfolio" | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">
                            <i class="fa-solid fa-server align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.services" | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-me">
                            <i class="fa-solid fa-envelope align-middle me-1"></i>
                            <span class="align-middle">{{ "navbar.contact_me" | translate }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
